<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main class="content" th:fragment="category(catalogs, page, size, totalPage,search)">
    <div id="loading">
        <div class="lds-circle"><div></div></div>
    </div>
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Demo Category Table</h3>
                        <nav class="navbar navbar-expand-lg bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="/admin/add_form">
                                    <button type="button" class="btn btn-success" >+ Add new Category</button>
                                </a>
                                <form class="d-flex" role="search" th:action="@{/admin/catalog}">
                                    <input class="form-control me-2 fst-italic" type="text" placeholder="Enter category's name... "
                                           aria-label="Search" th:value="${search}" name="search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th colspan="2">Action</th>
                            </tr>
                            </thead>
                            <tbody id="categories">
                            <tr th:each="cat,loop:${catalogs}">
                                <td th:text="${loop.count}"></td>
                                <td th:text="${cat.catalogName}"></td>
                                <td th:text="${cat.description}"></td>
                                <td th:text="${#temporals.format(cat.createdAt,'dd/MM/yyyy')}"></td>
                                <td th:text="${cat.status}?'Hien thi':'An'"></td>
                                <td>
                                    <a type="button" th:href="|@{/admin/edit_form/{id}(id = ${cat.catalogId})}|" class="btn btn-warning" >Edit</a>
                                </td>
                                <td>
                                    <a th:href="|@{/admin/catalog/delete/{id}(id = ${cat.catalogId})}|" onclick="return confirm('Bạn có chắc chắn muốn xóa không ?')" type="button" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination float-end mx-4">
                            <li th:class="|page-item ${page == 0 ? 'disabled':''}|">
                                <a class="page-link" th:href="@{|?page=${page - 1}&size=${size}&search=${search}|}">Previous</a>
                            </li>
                            <th:block th:each="p, loop:${totalPage}">
                                <li th:class="|page-item ${page == loop.index ?'active':''}|"><a class="page-link" th:href="@{|?page=${loop.index}&size=${size}&search=${search}|}" th:text="${loop.count}"></a></li>
                            </th:block>
                            <li th:class="|page-item ${page + 1 == totalPage.length  ?'disabled':''}|">
                                <a class="page-link" th:href="@{|?page=${page + 1}&size=${size}&search=${search}|}">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.card-body -->
                </div>
            </div>

        </main>
</body>

</html>