<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal Edit -->
<main class="content" th:fragment="editForm(catalog)">
    <div id="loading">
        <div class="lds-circle"><div></div></div>
    </div>
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Edit Category</h3>
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <div class="w-25 mx-auto my-2">
                            <div class="border-1">
                                <form th:action="@{/admin/catalog/edit}" method="post" th:object="${catalog}">
                                    <div class="mb-3">
                                        <label for="category_id" class="form-label">Category ID</label>
                                        <input type="number" th:field="*{catalogId}" class="form-control" id="category_id" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="category_name_edit" class="form-label">Category Name</label>
                                        <input type="text" th:field="*{catalogName}" class="form-control" id="category_name_edit">
                                        <p class="text-danger" th:if="${#fields.hasErrors('catalogName')}" th:errors="*{catalogName}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="description_edit" class="form-label">Descriptions</label>
                                        <textarea class="form-control" th:field="*{description}" id="description_edit" rows="3"></textarea>
                                        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Status</label>
                                        <select id="status" th:field="*{status}">
                                            <option value="true">Hiện</option>
                                            <option value="false">Ẩn</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="createdDate" class="form-label">CreatedDate</label>
                                        <input type="text" th:field="*{createdAt}"  class="form-control" id="createdDate" >
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/admin/catalog">
                                            <button type="button" class="btn btn-secondary ">Close</button>
                                        </a>
                                        <button type="submit" class="btn btn-primary" >UPDATE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</main>

</body>
</html>