<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addProduct.css">
</head>
<body>
<h1>Update</h1>
<form action="/admin/product/edit" method="post" enctype="multipart/form-data" th:object="${productEdit}">
    <div class="modal-content p-4">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control" th:field="*{name}">
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <label>
                    <select class="form-select" th:field="*{catalogId}">
                        <option value="">Select Category</option>
                        <option th:if="${!categories.isEmpty()}" th:each="category : ${categories}"
                                th:value="${category.id}" th:text="${category.name}"
                                th:selected="${category.name}"></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('catalogId')}" th:errors="*{catalogId}"></p>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">Product old images</label>
                <div style="display: flex; overflow-x: auto;">
                    <div th:each="image : *{oldImage}">
                        <div class="image-container">
                            <input type="hidden" name="imageId"  th:value="${image.id}">
                            <img th:src="${image.url}" style="width: 100px; height: 100px; object-fit: cover; margin-right: 10px;">
                            <button class="delete-button">&#x2718;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Image</label>
                <input type="file" class="form-control" th:field="*{images}" multiple>
                <!--                <p class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{imageUrl}"></p>-->
            </div>
            <div class="mb-3">
                <label class="form-label">Descriptions</label>
                <input class="form-control" rows="3" name="des" th:field="*{des}">
                <p class="text-danger" th:if="${#fields.hasErrors('des')}" th:errors="*{des}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" th:field="*{manufacturer}">
                <p class="text-danger" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Price</label>
                <input type="text" class="form-control" name="price" th:field="*{price}">
                <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Stock</label>
                <input type="number" class="form-control" name="stock" th:field="*{stock}">
                <p class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Status</label>
                <select class="form-select" th:field="*{status}">
                    <option value="true" th:selected="*{status == true}">Còn bán</option>
                    <option value="false" th:selected="*{status == false}">Hết Bán</option>
                </select>
            </div>
            <div class="modal-footer">
                <a href="/admin/product">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </a>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            let imageId = $(this).prev().attr('data-id');
            let imageContainer = $(this).parent();
            $.ajax({
                url: '/admin/product/deleteImage',
                type: 'POST',
                data: {
                    imageId: imageId
                },
                success: function (response) {
                    if (response === 'success') {
                        imageContainer.remove();
                    }
                }
            });
        });
    });
</script>

</body>
</html>