<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/tailwind.output.css" />
    <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer
    ></script>
    <script src="./assets/js/init-alpine.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
            defer
    ></script>
    <script src="./assets/js/charts-lines.js" defer></script>
    <script src="./assets/js/charts-pie.js" defer></script>
</head>
<body>
<div>
<nav th:replace="~{admin/index1 :: sidebar(viewName='product')}">

</nav>
<main class="content">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Demo Product Table</h3>
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/admin/product/add">
                            <button type="button" class="btn btn-success" >+ Add new Product</button>
                        </a>
                        <form class="d-flex" role="search" action="/admin/product/search">
                            <input class="form-control me-2 fst-italic" type="search"
                                   name="keyword" th:value="${keyword}"
                                   placeholder="Enter product's name... "
                                   aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Created Date</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pro:${products}">
                        <td th:text="${pro.id}"></td>
                        <td th:text="${pro.name}"></td>
                        <td><img th:src="${pro.image}" alt="" width="100" height="100" style=" object-fit: cover"></td>
                        <td th:text="${pro.price}"></td>
                        <td th:text="${#dates.format(pro.createdAt,'dd/MM/yyyy')}"></td>
                        <td><a href="" class="btn btn-warning" th:onclick="|handleEditProduct(${pro.id})|"  data-bs-toggle="modal" data-bs-target="#editModal">Edit</a></td>
                        <td><a th:href="|/admin/product/delete?id=${pro.id}|" onclick="return confirm('Bạn có chắc  chắn muốn xóa ko ?')" class="btn btn-danger">Delete</a></td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
            <nav aria-label="Page navigation example ">
                <ul class="pagination float-end mx-4">
                    <li th:class="|page-item ${page<=0?'disabled':''}|">
                        <a class="page-link" th:href="|?page=${page+-1}&limit=${limit}|">Previous</a>
                    </li>
                    <li th:each="p,loop:${#numbers.sequence(1,totalPages)}" th:class="|page-item ${page==loop.index?'active':''}|">
                        <a class="page-link" th:href="|?page=${loop.index}&limit=${limit}|" th:text="${p}">1</a>
                    </li>
                    <li th:class="|page-item ${page+1>=totalPages?'disabled':''}|">
                        <a class="page-link" th:href="|?page=${page+1}&limit=${limit}|">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</div>
</body>
</html>